.Mid_Wrap {
  font-family: Gogoia;
}
.Mid_Content {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex: 1 0 80%;
  margin: 1%;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}
.Mid_Img {
  position: relative;
  height: 250px;
  width: 100%;
  object-fit: fill;
  z-index: 0;
}
@media (min-width: 890px) {
  .Mid_Content {
    flex: 1 0 40%;
  }
}

@media (min-width: 1200px) {
  .Mid_Content {
    flex: 1 0 30%;
  }
}
